<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMapper">

	<select id="selectUser" resultType="MemberVO">
		SELECT *
		FROM MEMBERS
		ORDER BY USER_ID
	</select>
	
	<select id="adminListCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBERS
	</select>
	
	<select id="adminListCount2" parameterType="string" resultType="_int">
	    SELECT COUNT(*)
	    FROM MEMBERS
	    WHERE USER_ID LIKE '%' || #{searchKeyword} || '%'
	    OR USER_NAME LIKE '%' || #{searchKeyword} || '%'
	</select>
	
	<select id="searchKeyword" resultType="MemberVO" parameterType="string">
	    SELECT * 
	    FROM MEMBERS
	    WHERE USER_ID LIKE '%' || #{searchKeyword} || '%'
	    OR USER_NAME LIKE '%' || #{searchKeyword} || '%'
	    ORDER BY USER_ID
	</select>

	<update id="updateStatus" parameterType="map">
		UPDATE MEMBERS
		SET USER_RESTRICT_END_DATE
		<choose>
			<when test="days == 3">
				= SYSDATE + 3
			</when>
			<when test="days == 7">
				= SYSDATE + 7
			</when>
			<when test="days == 30">
				= SYSDATE + 30
			</when>
			<otherwise>
				= ADD_MONTHS(SYSDATE, 240)
			</otherwise>
		</choose>
		WHERE USER_ID = #{userId}
		AND USER_STATUS = 'Y'
	</update>
	
	<update id="changeStatus" parameterType="map">
		UPDATE MEMBERS
		SET USER_RESTRICT_END_DATE = SYSDATE
		WHERE USER_ID = #{userId}
		AND USER_STATUS = 'Y'
	</update>
	
	<update id="deleteUser" parameterType="string">
		UPDATE MEMBERS
		SET USER_STATUS = 'N'
		WHERE USER_ID = #{userId} 
	</update>
	
	<select id="selectBoard" resultType="BoardVO">
		SELECT *
		FROM BOARDS
	</select>
	
	<insert id="insertBoard" parameterType="BoardVO">
		INSERT INTO BOARDS (BOARD_ID
						   ,USER_ID
						   ,CATEGORY
						   ,TITLE
						   ,CONTENT
						   ,CREATE_DATE
						   ,UPDATE_DATE
						   ,VIEW_COUNT
						   ,IS_DELETED)
		VALUES(SEQ_BOARDS.NEXTVAL
			  ,#{userId}
			  ,#{category}
			  ,#{title}
			  ,#{content}
			  ,SYSDATE
			  ,SYSDATE
			  ,0
			  ,'N')
	</insert>
	
	<select id="selectActivity" resultType="activity">
		SELECT *
		FROM ACTIVITIES
	</select>
	
	<insert id="insertActivity" parameterType="activity">
		INSERT INTO ACTIVITIES(ACT_ID
							  ,ADMIN_ID
							  ,ACT_DATE
							  ,ACT_END
							  ,ACT_ADDRESS
						  	  ,ACT_LAT
						 	  ,ACT_LON
						 	  ,ACT_LOAD
							  ,ACT_TITLE
							  ,ACT_MAX
							  ,ACT_CUR
						 	  ,ACT_MONEY)
		VALUES(SEQ_ACTIVITIES.NEXTVAL
			  ,'user01'
			  ,#{actDate}
			  ,#{actEnd}
			  ,#{actAddress}
			  ,#{actLat}
			  ,#{actLon}
			  ,SYSDATE
			  ,#{actTitle}
			  ,#{actMax}
			  ,#{actCur}
			  ,#{actMoney})
	</insert>
	
	<select id="selectDonation" resultType="DonationVO">
	    SELECT *
	    FROM DONATIONS
	    WHERE USER_ID = #{userId}
	    AND DONATION_TYPE = 1
	</select>
	
	
	
	
</mapper>