<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fundingMapper">
	
	<select id="selectFunding" resultType="FundingVO">
		SELECT * 
		FROM FUNDINGS
		WHERE USER_ID = #{userId}
	</select>
	
	<insert id="insertFunding" parameterType="FundingVO">
		INSERT INTO FUNDINGS (F_NO
							 ,USER_ID
							 ,F_TITLE
							 ,F_CONTENT
							 ,F_MAX_MONEY
							 ,F_CURRENT_MONEY)
		VALUES (SEQ_FUNDINGS.NEXTVAL
			   ,#{userId}
			   ,#{fTitle}
			   ,#{fContent}
			   ,#{fMaxMoney}
			   ,0)
	</insert>
	
	<insert id="insertMoney" parameterType="FundingHistoryVO">
		INSERT INTO FUNDING_HISTORIES (FH_NO
									 ,USER_ID
									 ,F_NO
									 ,F_MONEY
									 ,INPUT_DATE)
		VALUES (SEQ_FUNDING_HIS.NEXTVAL
			   ,#{userId}
			   ,#{fNo}
			   ,#{fMoney}
			   ,SYSDATE)
	</insert>


</mapper>