<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fundingMapper">

	<!-- <update id="donation" parameterType="string">
		UPDATE MEMBERS
		SET USER_RESTRICT_END_DATE
		<choose>
			<when test="days == 3">
				= SYSDATE + 3
			</when>
			<when test="days == 7">
				= SYSDATE + 7
			</when>
			<when test="days == 30">
				= SYSDATE + 30
			</when>
			<otherwise>
				= ADD_MONTHS(SYSDATE, 240)
			</otherwise>
		</choose>
		WHERE USER_ID = #{userId}
		AND USER_STATUS = 'Y'
	</update> -->
	
	<!-- <update id="donation" parameterType="string">
		
	</update> -->


</mapper>