<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="volunteerMapper">



	<!-- 입력한 데이터들 조회하는 매퍼구 -->
	<select id="selectActivityList" resultType="activity">
		SELECT
		ACT_ID,
		ADMIN_ID,
		ACT_TITLE,
		ACT_ADDRESS,
		ACT_DATE,
		ACT_END,
		ACT_CUR,
		ACT_MAX
		FROM ACTIVITIES
		ORDER BY ACT_ID DESC
	</select>




	<!-- 데이터 입력 매퍼 -->
	<insert id="insertActivity" parameterType="activity">
		INSERT INTO ACTIVITIES (
		ACT_ID,
		ADMIN_ID,
		ACT_TITLE,
		ACT_ADDRESS,
		ACT_DATE,
		ACT_END,
		ACT_MAX,
		ACT_CUR,
		ACT_LAT,
		ACT_LON,
		ACT_LOAD,
		ACT_MONEY
		) VALUES (
		SEQ_ACTIVITIES.NEXTVAL,
		#{adminId},
		#{actTitle},
		#{actAddress},
		#{actDate},
		#{actEnd},
		#{actMax},
		0, -- 현재 인원은 처음엔 0명
		#{actLat},
		#{actLon},
		SYSDATE, -- 등록일은 현재 시간
		#{actMoney}
		)
	</insert>




	<!-- 활동 게시글 상세보기 페이지에 그 글의 정보를 꺼내오는 Sql구문  -->
	<select id="selectActivityOne" parameterType="int"
		resultType="activity">
		SELECT * FROM ACTIVITIES
		WHERE ACT_ID = #{actId}
	</select>
	
	
	<!-- 활동 게시글 삭제 구문 -->
	<delete id="deleteActivity" parameterType="int">
		DELETE FROM ACTIVITIES
		WHERE ACT_ID = #{actId}
	</delete>
	
	
	<!-- 활동 게시글 수정 테이블 구문 -->
	<update id="updateActivity" parameterType="activity">
		UPDATE ACTIVITIES
		SET ACT_TITLE = #{actTitle},
		    ACT_ADDRESS = #{actAddress},
		    ACT_MAX = #{actMax}
		WHERE ACT_ID = #{actId}
	</update>
	
	





</mapper>